<div class="container py-5">
  <h1>マイページ</h1>

  <div class="row">
    <h2>登録情報</h2>
    <btn>編集する</btn>
  </div>

  <div class="row">
    <table>
      <tr>
        <td>氏名</td>
        <td>〜</td>
      </tr>

      <tr>
        <td>カナ</td>
        <td>〜</td>
      </tr>

      <tr>
        <td>郵便番号</td>
        <td>〜</td>
      </tr>

      <tr>
        <td>住所</td>
        <td>〜</td>
      </tr>

      <tr>
        <td>電話番号</td>
        <td>〜</td>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <td>〜</td>
      </tr>
    </table>
  </div>

  <div class="row">
    <h2>配送先</h2>
    <btn>一覧を見る</btn>
  </div>

  <div class="row">
    <h2>注文履歴</h2>
    <btn>一覧を見る</btn>
  </div>
</div>