<div class="container">
  <div class="row">

    <div class="col-md-3">
      <nav class="navbar">
        <p>ジャンル検索</p>


      </nav>
    </div>

    <div class="col-md-6">
      <div="row">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>

      <div class="row">
        <h4>新着商品</h4>
      </div>

      <div class="row">
        <div class="col-md-3">
            <div>画像</div>
            <div>商品名</div>
            <div>￥</div>
        </div>
      </div>

      <div class="row text-right">
        <a>全ての商品を見る></a>
      </div>
    </div>

  </div>
</div>