<h1>注文履歴一覧</h1>

<table>

  <thead>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
    </tr>
  </thead>

  <tbody>
     <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>