<h1>ジャンル編集</h1>
<%= form_with model: @genre, local:true do |f| %>
<div>
  <p>ジャンル名</p>

  <p><%= f.text_field :name %></p>

  <%= f.submit "変更を保存", class: "btn btn-sm btn-secondary" %>
</div>
<% end %>