<div class="container mx-auto my-3">
  <h4>配送先登録/一覧</h4>

  <div class="row py-4">
    <p>郵便番号</p>
    <p>住所</p>
    <p>宛名</p>
  </div>

  <div class="row py-1">
    <table>
      <thead>
        <tr>
          <td>郵便番号</td>
          <td>住所</td>
          <td>宛名</td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <btn>編集する</btn>
            <btn>削除する</btn>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>