<div class="container-py-3　mx-auto">

  <div class="row">
   <div class="col-md-6 text-left">ショッピングカート</div>

    <div class="col-md-6 text-right">
      <btn>
        カートを空にする
      </btn>
    </div>
  </div>

  <div class="row">
    <table>
      <thead>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
        <td></td>
      </thead>

      <tbody>
        <td>商品名</td>
        <td>￥</td>
        <td>数量<btn>変更</btn></td>
        <td>小計</td>
        <td><btn>削除</btn></td>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-6 text-left">
      <btn>買い物を続ける</btn>
    </div>

    <div class="col-md-6 text-right">
      合計金額￥
    </div>
  </div>

  <div class="row">
    <btn>情報入力に進む</btn>
  </div>
</div>