<div class="container mx-auto py-3">

  <div class="row">
    <h4>支払方法</h4>
    <li>クレカ</li>
    <li>銀行振込</li>
  </div>

  <div class="row">
    <h4>お届け先</h4>
    <li>ご自身の住所</li>
    <li>登録済み住所から選択</li>
    <li>新しいお届け先</li>
  </div>

  <div class="row">
    <btn>確認画面へ</btn>
  </div>
</div>