<div class="container-py-5">
  <div class="row">

    <div class="col-md-3">
      <nav class="navbar">
        <p>ジャンル検索</p>
        <% @genre.each do |genre| %>
          <ul><%= genre.name %></ul>
        <% end %>
      </nav>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h1>商品一覧(全○件)</h1>
      </div>



      <div class="row">
  <% @items.each do |item| %>
        <div class="col-md-3">
            <div><%= image_tag item.get_item_image(100,100) %></div>
            <div><%= link_to item.name, item_path(item.id) %></div>
            <div><%= item.add_tax_price.to_s(:dalimited) %>円</div>
        </div>
  <% end %>
      </div>



    </div>
  </div>
</div>