<div class="container-py-5">
  <div class="row">

    <div class="col-md-3">
      <nav class="navbar">
        <p>ジャンル検索</p>

      </nav>
    </div>

    <div class="col-md-４">
      画像
    </div>

    <div class="col-md-5">
      商品名
      商品説明
      ￥
      <%= f.select :amount, *[1..10] %>   <btn>カートに入れる</btn>
    </div>
  </div>
</div>